fastapi
uvicorn[standard]
SQLAlchemy>=2.0
psycopg2-binary
python-jose[cryptography]
python-multipart
passlib==1.7.4
bcrypt==4.0.1
redis>=5.0.0 
prometheus-fastapi-instrumentator
snakeviz
line-profiler
asyncio
sqlalchemy[asyncio] 
asyncpg 
aioredis
setuptools
